.card {
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  max-width: 600px;
  margin: 1em auto;
  display: flex;
  align-items: center;
  padding: 1em;
  background: #4527a0;
}
.image {
  flex: 2;
  padding: 2em;
}
.image img {
  border-radius: 50%;
}
.name {
  color: #fff;
}
.profile {
  flex: 5;
  margin-left: 15px;
}
.heading {
  color: #cdcdcd;
}
.headertext {
  text-align: center;
}
.details {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.bio {
  color: #fff;
}
.details p {
  color: #fff;
}
.details span {
  color: #ddd;
  margin: 0 5px 0 5px;
  font-weight: bold;
}
.repos a {
  background-color: #311b92;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-size: 0.8em;
  padding: 0.25em 1em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  text-decoration: none;
  font-weight: bold;
}
